body {
width: 100wh;
height: 90vh;
color: #fff;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
-webkit-animation: Gradient 10s ease infinite;
-moz-animation: Gradient 10s ease infinite;
animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}
@font-face {
font-family: 'MyFont';
src: url(GlorySignaturePersonalUse.otf);
}
@font-face {
font-family: 'DescriptionFont';
src: url(Laptev_Brush.otf);
}
b{
font-size: 20px;
font-family: 'DescriptionFont';
color: aqua;
}
h1{
font-size: 60px;
font-family: 'MyFont';
color: rgb(212, 255, 255);
}
a{
color:crimson;
font-size: 30px;
font-family: 'DescriptionFont';
text-decoration: none !important;
}
a:hover{
color: yellow;  
}
.myfont {
font-family: 'MyFont';
font-size:100px;
}

.container {
display: grid;
grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
}
.container-item_right{
display: grid;
width: 500px;
place-self: center;
grid-row: 1/1;
  grid-column: 2/2;
}
.container-item_left{
  display: grid;
  place-self: center;
  align-self: center;
  grid-row: 1/1;
  grid-column: 1/2;
}
.buttons1 {
display: grid;
grid-gap: 5px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.rounded-button{
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-color: #2600fc;
min-width: 300px;
box-shadow: white 0px 0px 10px;
text-shadow: red 0px 0px 15px;
min-height: 300px;
width: auto;
text-align: center;
}
.text_but{
  text-align: center;
}
#sevled {
background: url(sevled.jpg) no-repeat;
background-size: cover;
}
#atlant {
    background: url(atalnt.jpg) no-repeat;
    background-size: cover;
}
#tixi {
    background: url(tixi.jpg) no-repeat;
    background-size: cover;
}

.adaptivSlayder {
  position: relative;
  max-width: 710px;
  margin: 65px auto;
  box-shadow: 0 9px 18px -4px rgba(0, 0, 0, 0.69);
}
.adaptivSlayder input[name="kadoves"] {
  display: none;
}
.kadoves {
  position: absolute;
  left: 0;
  bottom: -35px;
  text-align: center;
  width: 100%;
}
.kadoves label {
  display: inline-block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  margin: 0 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
  border-radius: 55%;
  
  border: 4px solid #2f363c;
  background-color: #738290;
}
#slaid1:checked~.kadoves label[for="slaid1"] {
  background-color: white;
}
#slaid2:checked~.kadoves label[for="slaid2"] {
  background-color: white;
}
#slaid3:checked~.kadoves label[for="slaid3"] {
  background-color: white;
}
#slaid4:checked~.kadoves label[for="slaid4"] {
  background-color: white;
}
#slaid5:checked~.kadoves label[for="slaid5"] {
  background-color: white;
}
#slaid6:checked~.kadoves label[for="slaid6"] {
  background-color: white;
}
#slaid7:checked~.kadoves label[for="slaid7"] {
  background-color: white;
}
#slaid8:checked~.kadoves label[for="slaid8"] {
  background-color: white;
}
#slaid9:checked~.kadoves label[for="slaid9"] {
  background-color: white;
}
#slaid10:checked~.kadoves label[for="slaid10"] {
  background-color: white;
}
#slaid11:checked~.kadoves label[for="slaid11"] {
  background-color: white;
}
#slaid12:checked~.kadoves label[for="slaid12"] {
  background-color: white;
}
#slaid13:checked~.kadoves label[for="slaid13"] {
  background-color: white;
}
.adaptivSlayderlasekun {
  overflow: hidden;
}
.abusteku-deagulus {
  display: flex;
  width: 100%;
  transition: all 0.6s;
}
.abusteku-deagulus img {
  width: 100%;
}
#slaid1:checked~adaptivSlayderlasekun abusteku-deagulus {
  transform: translate(0);
}
#slaid2:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-100%);

}
#slaid3:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-200%);
}
#slaid4:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translate(-300%);
}
#slaid5:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-400%);

}
#slaid6:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-500%);
}
#slaid7:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translate(-600%);
}
#slaid8:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-700%);

}
#slaid9:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-800%);
}
#slaid10:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translate(-900%);
}
#slaid11:checked~.adaptivSlayderlasekun .abusteku-deagulus {

  transform: translateX(-1000%);

}
#slaid12:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-1100%);
}
#slaid13:checked~.adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-1200%);
}